.about-me-button {
  height: 3rem;
  background-image: url('../assets/img/abut-me-button-decor.png');
  background-repeat: no-repeat;

  background-size: contain;
  background-position: center 1.7rem;
  text-decoration: none;
  color: black;
  font-family: 'Roboto Mono', monospace;
  background-color: wheat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
  padding-left: 10px;
  width: 100px;
  transition: all 1s ease 0s;
}
.about-me-button:hover {
  color: rgb(251, 156, 156);
  background-position: center 2rem;
  transition: all ease 1s;
}
