@keyframes fade {
  from {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  to {
    opacity: 0;
    visibility: hidden;
    overflow: visible;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
    overflow: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
}

.warp {
  margin-top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 500;
  animation: fade-in 0.5s ease-in-out, fade 1s ease forwards;
}
